# ========================= Environment Variables ========================
GROQ_API_KEY=gsk_
GOOGLE_API_KEY=A
HUGGING_FACE_HUB_TOKEN=hf_
# ========================= LangSmith Config =========================
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=lsv2
LANGSMITH_PROJECT="TA"

# OLLAMA, qwen3:1.7b
# GROQ, qwen/qwen3.8-27b
# GOOGLE_GENAI, gemini-2.5-flash

# ==================== Question Answering Agent Config =========================
EMBEDDING_MODEL_PROVIDER="LOCAL_EMBEDDING" # LOCAL_EMBEDDING, HUGGINGFACE
EMBEDDING_MODEL_ID="all-MiniLM-L6-v2"
CHUNK_SIZE=350
CHUNK_OVERLAP=50

GRADE_QA_PROVIDER="GROQ" # GOOGLE_GENAI, GROQ, OLLAMA
GRADE_QA_MODEL_ID="qwen/qwen3.8-27b"
GRADE_QA_TEMPERATURE=0.0

QUESTION_ANSWERER_PROVIDER="GROQ" # GOOGLE_GENAI, GROQ, OLLAMA
QUESTION_ANSWERER_MODEL_ID="qwen/qwen3.8-27b"
QUESTION_ANSWERER_TEMPERATURE=0.2